<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeJS">
          <match url=".*"/>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
    <iisnode 
      nodeProcessCommandLine="&quot;%ProgramFiles%\nodejs\node.exe&quot;"
      watchedFiles="*.js"
      loggingEnabled="true"
      logDirectory="iisnode">
      <environmentVariables>
        <add name="NEXT_TELEMETRY_DISABLED" value="1" />
        <add name="DISABLE_NEXT_TELEMETRY" value="1" />
        <add name="NODE_ENV" value="production" />
      </environmentVariables>
    </iisnode>
  </system.webServer>
</configuration>